In [1]:
import pandas as pd

In [2]:
bookRatings=pd.read_csv('BX-Book-Ratings.csv',error_bad_lines=False,sep=";")

In [3]:
bookRatings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
bookRatings.shape

(1149780, 3)

In [5]:
books=pd.read_csv("BX-Books.csv",error_bad_lines=False,sep=";")

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

/home/rushabh/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
books.shape

(271360, 8)

In [7]:
books.drop('Book-Author',inplace=True,axis=1)
books.drop('Year-Of-Publication',inplace=True,axis=1)
books.drop('Publisher',inplace=True,axis=1)
books.drop('Image-URL-S',inplace=True,axis=1)
books.drop('Image-URL-M',inplace=True,axis=1)
books.drop('Image-URL-L',inplace=True,axis=1)

In [8]:
books.head()

         ISBN                                         Book-Title
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [9]:
users=pd.read_csv("BX-Users.csv",error_bad_lines=False,sep=";")

In [10]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users.drop('Location',axis=1,inplace=True)
users.drop('Age',axis=1,inplace=True)

In [12]:
users.shape

(278858, 1)

In [42]:
bookTitle={} #map from ISBN to Book Title
bookISBN={}  #Map from index to ISBN
bookIndex={} #Map from ISBN to an Index
for index,row in books.iterrows():
    isbn=row['ISBN']
    Title=row['Book-Title']
    bookIndex[isbn]=index
    bookTitle[isbn]=Title
    bookISBN[index]=isbn

In [43]:
bookIndex['0195153448']

0

In [44]:
bookTitle['0195153448']

'Classical Mythology'

In [45]:
bookISBN[0]

'0195153448'

In [15]:
len(bookTitle.keys())

271360

In [21]:
import numpy as np
from scipy.sparse import csr_matrix,lil_matrix
U=lil_matrix(())

In [28]:
U.astype('int16')

<278858x271360 sparse matrix of type '<type 'numpy.int16'>'
	with 1 stored elements in LInked List format>

In [29]:
U[0,0]

1.0

# Utility Matrix Creation
Create a sparse MxN matrix with M=278858=number of users and N=271360=No of books

In [32]:
i in xrange(len(bookTitle.keys())): #in each column (book)
    for j in                        #iterate over all the the users who have rated it and change the value of that part

271360

In [33]:
bookRatings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
for index,row in bookRatings.iterrows():
    if row['ISBN'] in bookIndex.keys():
        userNo=row['User-ID']
        bookNo=bookIndex[row['ISBN']]
        U[userNo,bookNo]=row['Book-Rating']

In [49]:
U=U.tocsr(copy=False)

KeyError: '3257224281'

In [ ]:
import cPickle as pickle
with open('test_sparse_array.dat', 'wb') as outfile:
    pickle.dump(U, outfile, pickle.HIGHEST_PROTOCOL)

In [ ]:
import cPickle as pickle

with open('test_sparse_array.dat', 'rb') as infile:
    U = pickle.load(infile)

In [ ]:
from scipy.sparse.linalg import eigs

U1=U*U.transpose()
U2=U.transpose().U
L,P=sparse.linalg.eigs(U1,k=271360)
L2,Q=sparse.linalg.eigs(U2,k=271360)

In [ ]:
for i in xrange(len())